body{
	text-align: center;
	font-family:Helvetica;
}

#header{
	color: white;
	background-image: url("../the-flatiron-building.png");
	font-weight: bold;
}
#header h1{
	font-size: 70px;
}

#header .btn-nav {
	font-size: 18px;
	color: white;
}